.home {
    margin-top: 0px;
    padding-top: 0px;
    background-color:  var(--first-color);
    height: 85vh;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0px;
    color:  var(--second-color);
}

.apresentacao {
    width: 30%;
    margin-left: var(--padding-header-size);
    margin-top: 20px;
}

.descricao {
    font-weight: bold;
    font-size: 23px;
}

.board {
    display: inline-flex;
    background-color: var(--third-color);
    width: 80%;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

.demonstracao {
    width: 70%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.card-blue {
    position: relative;
    top: -30px;
    right: -10px;
    background-color: var(--first-color)
}

.card-yellow {
    position: relative;
    top: +30px;
    right: +10px;
    background-color: var(--second-color)
}