.user {
    background-color: var(--first-color);
    height: var(--content-hight);
    padding-left: var(--padding-header-size);
    padding-right: var(--padding-header-size);
}

.category-element {
    width: 200px;
    height: 100px;
    background-color: var(--third-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 10px 0px 0px 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.category-element:hover {
    background-color: var(--second-color);
    color: var(--first-color)
}

h2 {
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
    color: var(--second-color);
}

.awesome-color {
    color: var(--second-color);
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

fieldset {
    border: 2px var(--third-color) solid;
    border-radius: 10px;
    margin: 10px;
    color: var(--third-color);
    padding: 20px;
}

.input-cards {
    margin-bottom: 10px;
    width: 300px;
    margin-left: 5px;
   
}

.input-submit {
    background-color: var(--third-color);
    padding: 5px;
    margin-left: 10px;
    color: white;
}

.input-submit-agree:hover {
    background-color: green;
    color: var(--second-color);
}

.input-submit-cancel:hover {
    background-color: red;
    color: white;
}
