.header {
  background-color: #545454;
  color: #ffde59;
  height: 80px;
}

.header a {
  text-decoration: none;
  color: #ffde59;
  font-size: 20px;
  margin-right: 10px;
}

.message {
  color: red;
  font-size: 0.7em;
}
